*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    font-size: larger;
    font-weight: 500;
    background: rgb(164, 43, 245);
    color: white;
    border: 2px solid;
    text-align: center;
}